.margin-left {
    margin-left: 13px;
}

.five-day-forecast {
    display: inline-flex;
}

.mx-1 {
    flex-basis: auto;
    flex-grow: 15;

}

.saved-search-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.saved-searches {
    flex-basis: auto;
    flex-grow: 15;
    margin: 3px;
    padding: auto;
    width: 100%;
    border-radius: 25px;
}

#delete-button {
    flex-basis: auto;
    flex-grow: 15;
    margin: 3px;
    padding: auto;
    width: 100%;
    border-radius: 25px;
    background-color: gray;
    color: whitesmoke;
}